<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @type == "group" %> 
      <h2>모두나눔 소속 인증을 위한 코드입니다!</h2>
      <pre>
      <h2>인증번호: <%= @generated_code %></h2>
      </pre>
    <% else %>
      <h2>모두나눔 비밀번호 찾기를 위한 인증코드입니다.</h2>
      <pre>
      <h2>인증번호: <%= @generated_code %></h2>
      </pre>
    <% end %>
  </body>
</html>
