<header id="fixed-bar" class="fixed-bar-box-shadow">
  <div id="fixed-bar-wrap">
    <h1 id="fixed-bar-logo-title">
      <a href="<%= root_path %>">
        <img class="fixed-logo" alt="모두나눔" src="/image/default.png">
        <span class="fixed-title">모두나눔
          <span class="sub-title">위치 기반 C2C 공유 플랫폼</span>
        </span>
      </a>
    </h1>

    <section id="fixed-bar-download">
      <a class="fixed-download-button btn-modal" id="header-download-button-ios" href="#" onclick="return false;" data-name="sign-in">
        <i class="fas fa-lock"></i>
        <div class="fixed-download-text">로그인</div>
      </a>
      <a class="fixed-download-button" id="header-download-button-android" href="<%= posts_path %>">
        <img class="fixed-apple-store" alt="App Store" src="/image/icon/app-store-brands.svg">
        <div class="fixed-download-text">다운로드</div>
      </a>
    </section>
  </div>
</header>