<div class="container my-5">
  <div class="justify-content-center text-center py-5">
    <h1>카카오 로그인이 완료되었습니다.</h1>
    <div href="#" class="btn btn-primary mt-3">모두나눔 시작하기</div>
  </div>
</div>

<script>
$(".btn").on("click", function() {
  window.postMessage("<%= @token %>");
})
</script>