<div class="callback">
  <div class="container">
    <div class="justify-content-center text-center">
      <img src="/image/apple_login.png" alt="" class="image">
      <div class="title">Apple 로그인이 완료되었습니다!</div>
      <div class="body">잠시만 기다려주세요...</div>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    window.ReactNativeWebView.postMessage("{\"token\":\"<%= @token %>\", \"id\":\"<%= @user.id %>\", \"location_auth\":\"<%= @user.is_location_auth? ? @user.location.title : nil %>\"}", "*");
    console.log("Send postMessage.")
  }, 1000);
</script>