<div class="callback">
  <div class="container">
    <div class="justify-content-center text-center">
      <img src="/image/default.png" alt="" class="image">
      <div class="title">소셜 로그인 취소</div>
      <div class="body">잠시만 기다려주세요...</div>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    window.ReactNativeWebView.postMessage("{\"error\" : \"소셜 로그인 취소\"}", "*");
    console.log("Cancel social login.")
  }, 1000);
</script>