<header id="fixed-bar" class="fixed-bar-box-shadow">
  <div id="fixed-bar-wrap">
    <h1 id="fixed-bar-logo-title">
      <a href="https://www.applepink.ml/">
        <img class="fixed-logo" alt="모두나눔" src="/image/default.png">
        <span class="fixed-title">모두나눔
          <span class="sub-title">위치 기반 C2C 공유 플랫폼</span>
        </span>
      </a>
    </h1>

    <section id="fixed-bar-download">
      <h3 class="hide">다운로드</h3>
      <a target="_blank" class="fixed-download-button" id="header-download-button-ios" href="#">
        <img class="fixed-apple-store" alt="App Store" src="/image/icon/app-store-brands.svg">
        <div class="fixed-download-text">App Store</div>
      </a>
      <a target="_blank" class="fixed-download-button" id="header-download-button-android" href="#">
        <img class="fixed-google-play" alt="Google Play" src="/image/icon/google-play-brands.svg">
        <div class="fixed-download-text">Google Play</div>
    </a>
    </section>
  </div>
</header>

<section id="home-main-section-top" class="background-pale-peach">
  <div id="home-main-top">
    <div class="home-main-desc">
      <h1 class="home-main-title">우리 함께,<br>모두 나눔</h1>
      <p class="text-m">
        동네 주변에서, 필요한 물건을 찾아봐요.<br> 잘 쓰지 않는 물품, 이웃과 함께 공유해요.
      </p>
    </div>
    <div class="home-main-image-top">
      <img class="screenshot" alt="screenshot" src="/image/screenshot/main_1.png">
    </div>
  </div>
</section>
<section class="home-main-section">
  <div class="home-main-content">
    <div class="home-main-image">
      <img class="screenshot" alt="screenshot" src="/image/screenshot/main_2.png">
    </div>
    <div style="width:340px;">
      <h1 class="home-main-title text-right">쉽고 빠른,<br>중고 대여 플랫폼</h1>
      <p class="text-m text-right">
        물품 검색부터 대여 완료까지,<br>
        모두나눔의 다양한 기능을 사용해보세요!
      </p>
        <ul class="home-story-list row">
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-search"></i> 고급 검색 기능</div>
            <div class="text-xs">이름, 카테고리, 대여횟수 등<br>필터링 기능을 사용하세요. </div>
          </li>
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-comments"></i> 실시간 채팅</div>
            <div class="text-xs">추가 물품 정보가 궁금할 땐<br>실시간 채팅을 사용하세요.</div>
          </li>
        </ul>
        <ul class="home-story-list row">
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-calendar-check"></i> 예약 내용 확인</div>
            <div class="text-xs">예약 목록 캘린더를 통해<br>신청/요청 목록을 확인해요.</div>
          </li>
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-bell"></i> 키워드 알림</div>
            <div class="text-xs">찾고 있는 물품이 없나요?<br>키워드 알림을 사용해 보세요!</div>
          </li>
        </ul>
    </div>
  </div>
</section>
<section class="home-main-section background-pale-brown">
  <div class="home-main-content home-main-reverse">
    <div class="home-main-image home-main-image-02">
      <img class="screenshot" alt="screenshot" src="/image/screenshot/main_3.png">
    </div>
    <div>
      <h1 class="home-main-title">전자서명으로,<br>더욱 안전하게</h1>
      <p class="text-m">
        <img class="logo" alt="screenshot" src="/image/logo/kakaocert_logo.png">를 통한<br>
        
        편리하고 안전한 예약 시스템
      </p>
      <div class="home-buttons">
        <a class="home-button text-m text-bold" href="https://www.kakaocert.com/"><img class="logo" alt="screenshot" src="/image/logo/kakaocert_logo.png">란?</a>
      </div>
        
    </div>
  </div>
</section>
<section class="home-main-section">
  <div class="home-main-content">
    <div class="home-main-image home-main-image-03"></div>
    <div>
      <h1 class="home-main-title">내 근처에서 찾는<br>우리 동네 가게</h1>
      <p class="text-m">
        우리 동네 가게를 찾고 있나요?<br>동네 주민이 남긴 진짜 후기를 함께 확인해보세요!
      </p>
      <div class="home-buttons">
        <a target="_blank" id="town-link-button" class="ga-click home-button text-l text-bold" data-event-category="town_link_from" data-event-action="index_base" data-event-label="main_town" href="https://town.daangn.com/">당근마켓 동네가게 찾기</a>
      </div>
    </div>
  </div>
</section>

<div class="footer">
  <div class="mx-5">
    <div class="row">
      <div class="col">
        <hr class="mb-4">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 text-secondary text-center text-lg-left">
        <p class="pb-2">© 2020, applePink</p>
      </div>
      <div class="col-lg-6 col-md-12 text-center text-lg-right">
        <ul class="list-inline pb-2">
          <li class="list-inline-item">
            applePink | 사업자등록번호: 601-11-92065 |
            <a class="py-2 text-secondary" href="mailto:challengebox@naver.com">sakiss4774@gmail.com</a><br>
            <a class="py-2 text-secondary" href="#">개인정보처리방침</a> |
            <a class="py-2 text-secondary" href="#">이용약관</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>