<header id="fixed-bar" class="fixed-bar-box-shadow">
  <div id="fixed-bar-wrap">
    <h1 id="fixed-bar-logo-title">
      <a href="https://www.applepink.ml/">
        <img class="fixed-logo" alt="모두나눔" src="/image/default.png">
        <span class="fixed-title">모두나눔
          <span class="sub-title">위치 기반 C2C 공유 플랫폼</span>
        </span>
      </a>
    </h1>

    <section id="fixed-bar-download">
      <a class="fixed-download-button" id="header-download-button-ios" href="#">
        <img class="fixed-apple-store" alt="App Store" src="/image/icon/app-store-brands.svg">
        <div class="fixed-download-text">App Store</div>
      </a>
      <a class="fixed-download-button" id="header-download-button-android" href="https://softcon.ajou.ac.kr/works/works.asp?uid=332">
        <img class="fixed-google-play m-0" style="width:85%;" alt="Google Play" src="/image/icon/softcon_icon.png">
        <!-- 
        <img class="fixed-google-play" alt="Google Play" src="/image/icon/google-play-brands.svg">
        <div class="fixed-download-text">Google Play</div>
         -->
      </a>
    </section>
  </div>
</header>

<section id="home-main-section-top" class="background-pale-peach">
  <div id="home-main-top">
    <div class="home-main-desc ml-5 ml-xl-0">
      <h1 class="home-main-title">우리 함께,<br>모두 나눔</h1>
      <p class="text-m">
        동네 주변에서, 필요한 물건을 찾아봐요.<br> 잘 쓰지 않는 물품, 이웃과 함께 공유해요.
      </p>
    </div>
    <div class="home-main-image-top">
      <img class="screenshot" alt="screenshot" src="/image/screenshot/main_1.png">
    </div>
  </div>
</section>
<section class="home-main-section">
  <div class="home-main-content">
    <div class="home-main-image text-left">
      <img class="screenshot ml-5 ml-xl-0" style="width: 580px; padding: 10% 0;" alt="screenshot" src="/image/screenshot/main_2.png">
    </div>
    <div class="mr-5 mr-xl-0" style="width:360px;">
      <h1 class="home-main-title pl-2">쉽고 빠른,<br>중고 대여 프로세스</h1>
      <p class="text-m pl-2">
        물품 검색부터 대여 완료까지,<br>
        모두나눔의 다양한 기능을 사용해보세요!
      </p>
        <ul class="home-story-list row">
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-search"></i> 고급 검색 기능</div>
            <div class="text-xs">이름, 카테고리, 대여횟수 등<br>필터링 기능을 사용하세요. </div>
          </li>
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-comments"></i> 실시간 채팅</div>
            <div class="text-xs">추가 물품 정보가 궁금할 땐<br>실시간 채팅을 사용하세요.</div>
          </li>
        </ul>
        <ul class="home-story-list row">
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-calendar-check"></i> 예약 내용 확인</div>
            <div class="text-xs">예약 목록 캘린더를 통해<br>신청/요청 목록을 확인해요.</div>
          </li>
          <li class="home-story-list-item col">
            <div class="text-s text-bold mt-3 mb-2"><i class="fas fa-bell"></i> 키워드 알림</div>
            <div class="text-xs">찾고 있는 물품이 없나요?<br>키워드 알림을 사용해 보세요!</div>
          </li>
        </ul>
    </div>
  </div>
</section>
<section class="home-main-section background-pale-brown">
  <div class="home-main-content home-main-reverse">
    <div class="home-main-image text-right">
      <img class="screenshot mr-5 mr-xl-0" style="padding: 5% 0;" alt="screenshot" src="/image/screenshot/main_3.png">
    </div>
    <div class="ml-5 ml-xl-0">
      <h1 class="home-main-title">전자서명으로,<br>더욱 안전하게</h1>
      <p class="text-m">
        <img class="logo" alt="screenshot" src="/image/logo/kakaocert_logo.png">를 통한<br>
        편리하고 안전한 예약 시스템
      </p>
      <div class="home-buttons">
        <a class="kakao-button text-m text-bold" href="https://www.kakaocert.com/"><img class="logo" alt="screenshot" src="/image/logo/kakaocert_logo.png">란?</a>
      </div>
    </div>
  </div>
</section>
<section class="home-main-section">
  <div class="home-main-content">
    <div class="home-main-image ml-5 ml-xl-0">
      <img class="screenshot ml-5 ml-xl-0" style="width: 630px; padding: 5% 0;" alt="screenshot" src="/image/screenshot/main_4.png">
    </div>
    <div class="mr-5 mr-xl-0">
      <h1 class="home-main-title">위치 기반<br>C2C 공유 플랫폼</h1>
      <p class="text-m">
        모두나눔의 여러 기능과 함께 <br>이웃들과 다양한 물품을 공유해 보세요!
      </p>
      <div class="home-buttons">
        <a class="home-button btn-modal text-m text-bold" href="#" onclick="return false;" data-name="info">소개 영상 보기</a>
      </div>
    </div>
  </div>
</section>

<div class="footer">
  <div class="mx-5">
    <div class="row">
      <div class="col">
        <hr class="mb-4">
      </div>
    </div>
    <div class="container pb-5">
      <div class="row mt-3">
        <div class="col-12 col-md-6 text-xxs text-secondary text-center text-md-left">
          <ul class="list-inline pb-2">
            <li class="list-inline-item text-secondary">
              <a class="py-2 text-secondary btn-modal" href="#" onclick="return false;" data-name="page">이용약관</a> |
              <a class="py-2 text-secondary btn-modal" href="#" onclick="return false;" data-name="page">개인정보처리방침</a> |
              <a class="py-2 text-secondary btn-modal" href="#" onclick="return false;" data-name="page">위치기반서비스 이용약관</a><br>
              applePink | 사업자등록번호: 601-11-92065
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 text-xxs text-center text-md-right">
          <p class="pb-2 text-secondary">
            파트너 문의: <a class="py-2 text-secondary" href="mailto:sakiss4774@gmail.com">sakiss4774@gmail.com</a><br>
            © 2020. applePink Co. all rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal-info 시작 -->
<div class="modal fade" id="modal-info" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-video" role="document">
    <div class="modal-content" style="border-radius: 1rem;">
      <div class="modal-header" style="padding: 1.5rem 1.5rem;">
        <div class="text-xl text-bold">모두나눔 소개 영상</div>
      </div>
      <div class="modal-body text-center" style="padding: 1.5rem 1rem;">
        <iframe width="1000" height="562.5" src="https://www.youtube.com/embed/Stbh5KFHQaY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- modal-info 끝 -->

<!-- modal-page 시작 -->
<div class="modal fade" id="modal-page" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-video" role="document">
    <div class="modal-content" style="border-radius: 1rem;">
      <div class="modal-header" style="padding: 1.5rem 1.5rem;">
        <div class="text-xl text-bold page-title"></div>
      </div>
      <div class="modal-body page-body text-center" style="padding: 1.5rem 1rem;">
        
      </div>
    </div>
  </div>
</div>
<!-- modal-page 끝 -->

<script>
const modal_info = $("#modal-info")
const modal_page = $("#modal-page")

$("#header-download-button-ios").on("click", function() {
  alert("12월 출시 예정입니다. 잠시만 기다려 주세요.");
})

$(".btn-modal").on("click", function() {
  switch ($(this).data("name")) {
    case "info":
      modal_info.modal("show");
      break;

    case "page":
      Rails.ajax({
        type: "get",
        url: "/bookings/new",
        dataType: "json",
        data: $.param(data),
        success: (res) => {
          res.occupied_bookings.forEach(v => {
            date = moment(v).format("YYYY-MM-DD")
            if (disabled_date.indexOf(date)===-1) {
              disabled_date.push(date)
            }
          })
          calendar.update()
        },
        error: () => {
          app.dialog.alert("오류가 발생하였습니다.")
        }
      });
      modal_page.modal("show");
      break;
  }
})
</script>