$mainBackground: #fff1f6;
$container: 1024px;

.modal-sign-in {
  max-width: 512px;
  margin: 10vh auto;
}

.modal-video {
  max-width: 1024px;
  margin: 10vh auto;
}

.modal-page {
  max-width: 960px;
  margin: 2vh auto;
}

::-moz-placeholder {

  color: #868e96;
  opacity: 1;

}
:-ms-input-placeholder {

  color: #868e96;
  opacity: 1;

}
::-ms-input-placeholder {

  color: #868e96;
  opacity: 1;

}
::placeholder {

  color: #868e96;
  opacity: 1;

}

input {
  font-family: "Noto Sans KR", AppleSDGothicNeo, "Apple SD Gothic Neo", AppleSDGothicNeo-Light, HelveticaNeue-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#fixed-bar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#fixed-bar #fixed-bar-wrap {
  width: $container;
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}

#fixed-bar #fixed-bar-logo-title {
  margin: 0;
}

#fixed-bar #fixed-bar-wrap {
    
  .fixed-logo {
    width: 34px;
    vertical-align: text-bottom;
  }

  .fixed-title {
    position: absolute;
    bottom: 16px;
    left: 43px;
    color: #495057;
    font-weight: 900;
    font-size: 24px;
  }

  .sub-title {
    font-size: 13px;
    font-weight: 700;
    color: #555;
  }

  a, a:link, a:visited {
    text-decoration: none;
  }
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search {
  position: absolute;
  left: 152px;
  top: 16px;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  text-decoration: none;
  padding: 0 1rem;
  height: 40px;
  box-sizing: border-box;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search:focus-within {
  border: solid 1px #212529;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap {
  display: flex;
  justify-content: space-between;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-input {
  display: block;
  width: 340px;
  border: none;
  font-size: 16px;
  color: #212529;
  background-color: transparent;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-input:focus {
  outline: none;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-icon {
  width: 19px;
  height: 19px;
  fill: #868e96;
  padding: 0.625rem 0;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap {
  position: absolute;
  left: 20px;
  top: 40px;
  border: 1px solid #FF8A3D;
  width: 448px;
  padding: 10px;
  background: #fff;
  z-index: 101;
  line-height: 2;
  display: none;
  font-size: 16px;
  font-weight: 600;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap .search-keyword-text {
  color: #FF8A3D;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap .search-keyword-list {
  white-space: normal;
  word-break: normal;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap .search-keyword-list .search-keyword {
  text-decoration: none;
  color: #212529;
  white-space: nowrap;
  margin-right: 8px;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-download {
  position: absolute;
  right: 0;
  top: 16px;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button {
  width: 140px;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0.5625rem 0;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-download-text {
  display: inline-block;
  color: #495057;
  font-size: 14px;
  margin-left: 8px;
  font-weight: 700;
  vertical-align: middle;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-google-play,
#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-apple-store {
  fill: #495057;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 3px;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button:hover {
  border: solid 1px #CED4DA;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-download #header-download-button-ios {
  margin-right: 8px;
}

.fixed-bar-box-shadow {
  box-sizing: border-box;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button:hover {
  background-color: #17191D;
}

.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-download-text {
  color: #fff;
}

section,
article,
aside,
footer,
header,
nav,
hgroup {
  display: block;
}

a {
  -webkit-tap-highlight-color: rgba(73, 80, 87, 0.05);
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  position: relative;
  color: #212529;
  font-family: "Noto Sans KR", AppleSDGothicNeo, "Apple SD Gothic Neo", AppleSDGothicNeo-Light, HelveticaNeue-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
  font-weight: 400;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}

h5 {
  font-size: 0.8125rem;
}

h6 {
  font-size: 0.75rem;
}

strong,
b {
  font-weight: 700;
}

::selection {
  color: #212529;
  background: #ffdae6;
}

.clear {
  clear: both;
}

.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  color: #212529;
}

.text-apple {
  color: #FF3377;
}

.text-green {
  color: #56C271;
}

.text-gray {
  color: #868e96;
}

.text-light-gray {
  color: #ADB5BD;
}

.text-dark-gray {
  color: #495057;
}

.text-white {
  color: #fff;
}

.text-xxl {
  font-size: 1.5rem !important;
  line-height: 1.54;
  letter-spacing: -0.8px;
}

.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.text-l {
  font-size: 1.125rem !important;
  line-height: 1.47;
  letter-spacing: -0.3px;
}

.text-m {
  font-size: 1rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.text-s {
  font-size: 0.875rem !important;
  line-height: 1.5;
}

.text-xs {
  font-size: 0.8125rem !important;
  line-height: 1.5;
}

.text-xxs {
  font-size: 0.75rem !important;
  line-height: 1.5;
}

.text-no-decoration {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.background-gray {
  background-color: #F8F9FA;
}

.background-dark-gray {
  background-color: #E9ECEF;
}

.background-white {
  background-color: #fff;
}

.background-green {
  background-color: #56C271;
}

.background-pale-green {
  background-color: #E6F3E6;
}

.background-pale-brown {
  background-color: #f3eee6;
}

.circle-image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.circle-image-s {
  width: 40px;
  height: 40px;
}

.circle-image-m {
  width: 48px;
  height: 48px;
}

.circle-image-l {
  width: 60px;
  height: 60px;
}

.rounded {
  border-radius: 4px;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image img {
  width: 100%;
}

.image-s img {
  width: 48px;
  height: 48px;
}

.article-thumbnail {
  width: 180px;
  height: 180px;
}

.article-thumbnail-text {
  width: 180px;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.relative {
  position: relative;
}

.vertical-top {
  vertical-align: top;
}

.vertical-text-top {
  vertical-align: text-top;
}

.width-full {
  width: 100%;
}

.list-unstyled {
  list-style-type: none;
}

.shadow-bottom {
  box-shadow: 0 1px 0 0 #E9ECEF;
}

.border-bottom {
  border-bottom: 1px solid #E9ECEF;
}

.border-top {
  border-top: 1px solid #E9ECEF;
}

.border-none {
  border: none;
}

.tag {
  padding: 0.125rem 0.25rem;
  margin-right: 0.125rem;
  margin-top: 0.25rem;
  background-color: #F8F9FA;
  color: #212529;
  font-size: 0.8125rem;
}

.button {
  -webkit-appearance: none;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #ADB5BD;
  color: #212529;
}

.button-rounded {
  border-radius: 100px;
}

.button-s {
  padding: 0.25rem 0.625rem;
}

.button-m {
  padding: 0.5rem;
}

.button-full {
  display: block;
  width: 100%;
}

.button-carrot {
  background-color: #fff;
  color: #FF8A3D;
  border: 1px solid #FF8A3D;
}

.button-green {
  background-color: #fff;
  color: #56C271;
  border: none;
}

.button-black {
  background-color: #fff;
  color: #212529;
  border: 1px solid #212529;
}

.button-black:hover {
  border: 1px solid #868e96;
  color: #868e96;
}

.home-main-section {
  padding: 3.75rem 0;
}

.home-main-section .home-main-content {
  width: $container;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-main-section .home-main-title {
  font-size: 2.5rem;
  line-height: 1.35;
  margin-bottom: 1.5rem;
  color: #212529;
}

.home-main-section .home-buttons {
  margin-top: 2rem;
}

.home-main-section .home-buttons .kakao-button {
  background-color: #fbda34;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  display: inline-block;
}

.home-main-section .home-buttons .kakao-button:hover {
  background-color: rgb(214, 182, 2);
}

.home-main-section .home-buttons .home-button {
  background-color: #eee;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 0.725rem 1.3rem;
  display: inline-block;
}

.home-main-section .home-buttons .home-button:hover {
  background-color: #ccc;
}

.home-main-section .home-main-image {
  display: inline-block;
}

.home-main-section .home-main-video {
  display: inline-block;
  text-align: center;
  margin: 2rem 0;
}



.home-main-section .home-main-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.home-main-section .home-hot-title {
  margin-bottom: 5rem;
}

.home-main-section .home-hot-content {
  width: $container;
  margin: 3.75rem auto 7.5rem auto;
}

.home-main-section .home-story-list {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#home-main-section-top {
  margin-top: 72px;
  padding-bottom: 3.75rem;
  background-color: $mainBackground;
}

#home-main-section-top #home-main-top {
  width: $container;
  height: 760px;
  margin: 0 auto;
  position: relative;
  background-color: $mainBackground;
}

#home-main-section-top .home-main-title {
  font-size: 3rem;
  line-height: 1.3;
  padding-top: 16.875rem;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: -0.4px;
  color: #212529;
}

#home-main-section-top .home-main-image-top {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 680px;
  height: 685px;
  background-size: 680px 685px;
  text-align: center;
}

.home-keywords-content {
  width: $container;
  margin: 2.5rem auto;
}

.home-keywords-content .home-main-title {
  display: inline-block;
  vertical-align: middle;
}

.home-keywords-content .top-keywords-list {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
  margin-left: 2.5rem;
}

.home-keywords-content .top-keywords-list .keyword-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
}

.home-keywords-content .top-keywords-list .keyword-item .keyword-link {
  text-decoration: none;
  color: #212529;
}

.home-keywords-content .top-keywords-list .keyword-item:last-child {
  margin-right: 0;
}

.home-keywords-content .top-keywords-list .keyword-item:hover {
  text-decoration: underline;
}

.screenshot {
  height: 100%;
}

.logo {
  height: 0.875rem;
  margin-right: 4px;
  margin-bottom: 4.5px;
}

.kakao-button .logo {
  height: 0.875rem;
  margin-right: 4px;
  margin-bottom: 5px;
}