ul {
  list-style: none;
  padding-left: 10px;
}

.post-description {
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 1.2em;
  height: 3.6em;  // line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3=3.6em
}